name: CI

on:
  push:
    branches:
      - main
      - refactor
  pull_request:
    branches:
      - main
      - refactor

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install dependencies
        run: |
          uv sync --all-extras
      - name: Run lint
        run: |
          uv run ruff check .
          uv run mypy .
      - name: Run tests
        run: |
          uv run pytest -ra --cov=src --cov-report=term --cov-report=xml
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
